.container {
  width: 100%;
  text-align: center;
}

.clock {
  font-size: 24px;
}

.lowTime {
  color: red;
}

.paused {
  color: grey;
}

.playPause {
  font-size: 18px;
  padding: 12px;
  border: 1px solid #ccc;
  cursor: pointer;
}
