.container {
  font-size: 11px;
  font-weight: bold;
}

.positionPanel {
  position: relative;
}

.positionLabel {
  display: inline-block;
  width: 1.7em;
  text-align: right;
  margin-right: .3em;
}

.barLabel {
  display: inline-block;
  padding: 3px 0;
  text-align: center;
  width: 99px;
  margin: 2px 0;
}

.innerBarLabel {
  color: white;
  text-shadow: 1px 1px 1px #888;
  padding-top: 0;
}

.outerBarLabel {
  border: 1px solid black;
}

.bar {
  position: absolute;
  left: 2em;
  margin-left: 1px;
  top: 3px;
  bottom: 3px;
  overflow: hidden;

  -webkit-transition: width ease 1s, background-color ease 1s;
  transition: width ease 1s, background-color ease 1s;
}
