.injury {
  color: red;
}

.newsCell {
  cursor: pointer;
  color: rgba(0, 0, 0, 0);
  padding-left: 3px !important;
  padding-right: 3px !important;
}

tr:hover .newsCell {
  visibility: visible;
  color: black;
}

.rightAlign {
  text-align: right !important;
}

.batterStat {
  color: #0A0;
}

.pitcherStat {
  color: #00C;
}

.splitHeader .batterStat {
  font-size: 8px;
  vertical-align: super;
}

.splitHeader .pitcherStat {
  font-size: 8px;
  vertical-align: sub;
}