.injury {
  color: red;
}

.injury:before {
  content: attr(data-tooltip);
  position: absolute;
  background: #222;
  color: #eee;
  font-size: 10px;
  border-radius: 3px;
  width: 100px;
  margin-left: 20px;
  padding: 4px;
  display: none;
}

.injury:hover:before {
  display: block;
}

.newsCell {
  cursor: pointer;
  color: rgba(0, 0, 0, 0);
  padding-left: 3px !important;
  padding-right: 3px !important;
}

tr:hover .newsCell {
  visibility: visible;
  color: black;
}

.rightAlign {
  text-align: right !important;
}

.batterStat {
  color: #0A0;
}

.pitcherStat {
  color: #00C;
}

.splitHeader {
  letter-spacing: -1px;
}

.splitHeader .batterStat {
  font-size: 8px;
  vertical-align: super;
}

.splitHeader .pitcherStat {
  font-size: 8px;
  vertical-align: sub;
}

.gwt-CellTable-cellTableSelectedRowCell .batterStat,
.gwt-CellTable-cellTableSelectedRowCell .pitcherStat {
  color: white;
}

.gwt-CellTable-cellTableSortedHeaderAscending,
.gwt-CellTable-cellTableSortedHeaderDescending {
  position: relative;
}

.gwt-CellTable-cellTableSortedHeaderAscending img,
.gwt-CellTable-cellTableSortedHeaderDescending img {
  background: none ! important;
}

.gwt-CellTable-cellTableSortedHeaderAscending:before {
  content: '\25B2';
  position: absolute;
  right: 0;
}

.gwt-CellTable-cellTableSortedHeaderDescending:before {
  content: '\25BC';
  position: absolute;
  right: 0;
}
