@external gwt-ToggleButton-down, gwt-ToggleButton-down-hovering;

.container {
  font-size: 80%;
  width: 100%;
}

.rightSideControls {
  float: right;
}

.hideInjuries {
  display: block;
}

.buttonContainer {
  position: relative;
}

.filterButton {
  border: 1px solid #00c;
  border-right-width: 0;
  padding: 4px;
  cursor: pointer;
  color: #00c;
}

.filterButton:hover {
  background: #d9d9ff; /* Old browsers */
  background: -moz-linear-gradient(top,  #d9d9ff 0%, #ffffff 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d9d9ff), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #d9d9ff 0%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #d9d9ff 0%,#ffffff 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #d9d9ff 0%,#ffffff 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #d9d9ff 0%,#ffffff 100%); /* W3C */
  filter: literal("progid:DXImageTransform.Microsoft.gradient( startColorstr='#d9d9ff', endColorstr='#ffffff',GradientType=0 )"); /* IE6-9 */
}

.filterButton.gwt-ToggleButton-down,
.filterButton.gwt-ToggleButton-down-hovering {
  color: white;
  background: #15c; /* Old browsers */
  background: -moz-linear-gradient(top,  #15c 0%, #15e 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#15c), color-stop(100%,#15e)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #15c 0%,#15e 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #15c 0%,#15e 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #15c 0%,#15e 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #15c 0%,#15e 100%); /* W3C */
  filter: literal("progid:DXImageTransform.Microsoft.gradient( startColorstr='#15c', endColorstr='#15e',GradientType=0 )"); /* IE6-9 */
}

td:first-child > .filterButton,
td:first-child > div > .filterButton {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

td:last-child > .filterButton,
td:last-child > div > .filterButton {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-right-width: 1px;
}

.filterCheckBox {
  position: absolute;
  top: 100%;
  left: 10%;
}

.autoPick {
  display: block;
}

.headerElement {
  display: inline-block;
  margin-right: 10px;
  vertical-align: top;
}

.headerLine {
  margin-bottom: 20px;
}

.search {
  padding: 3px;
}

.clearSearch {
  cursor: pointer;
}