.connectivityIndicator {
  position: absolute;
  top: 10px;
  right: 10px;
}

.leftColumn {
  width: 80%;
}

.queue {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 80%;
  height: 200px;
  background: white;
  border-top: 1px solid black;
  padding: 5px;
}

.queueScroller {
  overflow-x: hidden !important;
}

.rightColumn {
  float: right;
  width: 20%;
  padding-left: 10px;
  box-sizing: border-box;
}

.tableHeader {
  font-weight: bold;
  text-align: center;
  font-size: 80%;
  padding-top: 20px;
  padding-bottom: 5px;
}

.actionLink {
  color: #15c;
  cursor: pointer;
  text-align: center;
  padding-top: 20px;
}

.actionLink:hover {
  text-decoration: underline;
}

.shortcuts {
  font-size: 50%;
  text-align: center;
  padding-top: 10px;
}

@external gwt-PopupPanel;

.gwt-PopupPanel {
  padding: 10px;
  border: 1px solid black;
  background: white;
  font-size: 70%;
}

.glassPanel {
  background: rgba(0, 0, 0, 0.4);
}
