.connectivityIndicator {
  position: absolute;
  top: 10px;
  right: 10px;
}

.leftColumn {
  width: 80%;
}

.rightColumn {
  float: right;
  width: 20%;
  padding-left: 10px;
  box-sizing: border-box;
}

.shortcuts {
  font-size: 50%;
  text-align: center;
}