.container {
  margin-bottom: 5px;
}

.round {
  margin-bottom: 10px;
}

.teamLogo {
  vertical-align: middle;
  position: relative;
  font-size: 17px;
  font-weight: bold;
  text-align: center;
  padding: 3px;
  border: 1px solid black;
  margin-bottom: 5px;}

.me {
  border-color: green;
  color: green;
}

.currentPick {
  border-color: red;
}

.currentPick:after {
  content: "\25BC";
  color: white;
  background: red;
  position: absolute;
  font-size: 17px;
  top: 0;
  bottom: 0;
  right: 0;
  line-height: 25px;
}

.disconnected {
  opacity: 0.4;
}

.robot:after {
  content: url("cylon_classic.png");
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
}

.keeper:after {
  content: "K";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  font-size: 17px;
  padding: 0 3px;
  color: white;
  background: #caca16;
  line-height: 26px;
}

.statusMessage {
  padding-top: 10px;
}
