.container {
  padding-top: 25px;
  position: relative;
  margin-bottom: 5px;
}

.round {
  position: absolute;
  top: 0;
  right: 50%;
}

.currentPickArrow {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  font-size: 18px;
}

.teamLogo {
  display: inline-block;
  margin-right: 5px;
  border: 2px solid transparent;
  vertical-align: middle;
  position: relative;
}

.me {
  border-color: red;
}

.disconnected {
  opacity: 0.4;
}

.robot:after {
  content: url("cylon_classic.png");
  position: absolute;
  bottom: -3px;
  right: -3px;
}

.keeper:after {
  content: "K";
  position: absolute;
  top: -3px;
  right: -3px;
  font-size: 18px;
  color: #caca16;
}

.statusMessage {
  display: inline-block;
  margin-left: 15px;
}
