.injury {
  color: red;
}

.newsCell {
  cursor: pointer;
  color: rgba(0, 0, 0, 0);
  padding-left: 3px !important;
  padding-right: 3px !important;
}

tr:hover .newsCell {
  visibility: visible;
  color: black;
}

.rightAlign {
  text-align: right !important;
}