/** Global CSS. */
@font-face {
    font-family: leelawadee;
    src: local(leelawadee), url('leelawad.ttf') format('opentype');
}

body {
  font-family: leelawadee, "Helvetica Neue", arial, sans-serif;
}

th {
  text-shadow: none !important;
}