.indicator {
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background: red;
  -webkit-transition: background ease 500ms;
  transition: background ease 500ms;
}

.connected {
  background: green;
}